<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <!--
    NOTE: the macro defined here is copied from Universal Robots/ur_description package
    https://github.com/ros-industrial/universal_robot/blob/1c719dd15b79ae83a5bd6c1be46d712cbbf129ec/ur_description/urdf/inc/ur_common.xacro#L11-L19
  -->
  <xacro:macro name="cylinder_inertial" params="radius length mass *origin">
    <inertial>
      <mass value="${mass}" />
      <xacro:insert_block name="origin" />
      <inertia ixx="${0.0833333 * mass * (3 * radius * radius + length * length)}" ixy="0.0" ixz="0.0"
        iyy="${0.0833333 * mass * (3 * radius * radius + length * length)}" iyz="0.0"
        izz="${0.5 * mass * radius * radius}" />
    </inertial>
  </xacro:macro>
  
</robot>
